In [1]:
import random
import pandas as pd
import numpy as np

quantidade_duplas = 8

temas = np.arange(1, quantidade_duplas + 1)
seed = 33
random.seed(seed)
sorteio = random.sample(list(temas), len(temas))  

resultado = pd.DataFrame({
    'Dupla': np.arange(1, quantidade_duplas + 1),
    'Tema': sorteio
})

resultado

   Dupla  Tema
0      1     3
1      2     6
2      3     2
3      4     8
4      5     4
5      6     5
6      7     1
7      8     7